.my-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #F2F4FA; 
}

.exercises-container {
    /* border: 1px solid red;     */
    margin: 80px 12% 0 12%;    
}
.exercises-container h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.exercises-container h3 {
    color: #5D5FEF;
    margin-left: 15px;
}

.headline {
    display: flex;
    align-items: center;    
}
.headline span {
    font-size: 30px;
    color: #5D5FEF;
}

.cart-container {
    background-color: white;
    padding: 25px;
}


@media screen and (min-width: 0px) and (max-width: 575px) {
    .my-container {               
        display: flex;
        flex-direction: column-reverse;        
    }
    .exercises-container {
        /* border: 1px solid red;     */
        margin: 50px 0 0 0 ;
        padding: 15px;
    }
}